body{
   font-family: 'Raleway', sans-serif;
   font-size: 16px;

   margin: 0;
   color: black;
}

button{
   cursor: pointer;
}

*{
   transition: all 0.2s linear;
}

*, 
*::after, 
*::before{
   box-sizing: border-box;
}

a{
   margin: 0;
   text-decoration: none;
   color: black;
}

h1,h2,h3,h4,h5,h6{
   margin: 0;
}

p{
   margin: 0;
}

.page{
   width: 100%;
   height: 100vh;
}

.container{
   width: 100%;
   max-width: 1210px;
   margin: 0 auto;
   padding: 0 50px;
   text-align: center;
   overflow: hidden;
}

.main{
   display: flex;
   flex-direction: column;
   gap: 102px;
}

/* === Header === */

.container-header{
   display: flex;
   flex-direction: column;
   gap: 190px;
}

.header-content{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   align-content: center;

   margin-top: 50px;
   gap: 15px;
}

/* logo */

.header-logo{
   display: inline-flex;
}

.header-logo a{
   display: inline-flex;
   gap: 11px;
   align-items: center;   
}

.header-logo-title{
   text-transform: uppercase;
   font-size: 16px;
   font-weight: 500;
}

/* nav */

.header-link{
   display: inline-flex;
   flex-wrap: wrap;
   gap: 45px;
}

.header-link a{
   font-size: 15px;
   font-weight: 400;
   line-height: 21px;
}

.header-link span{
   color: #6E9C9F;
}

/* tel */

.header-tel{
   display: inline-flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.header-tel a{
   display: flex;
   align-items: center;

   font-size: 15px;
   font-weight: 400;
   line-height: 21px;   
}

.img-tel{
   display: inline-flex;
   width: 17px;
   height: 17px;
   background: url('/images/header/telephone.svg') no-repeat center;
   background-size: cover;

   transition: background 0.2s linear;
}

/* === main === */
.title-box{
   display: flex;
}

.title-about{
   display: inline-flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 26px;
}

.title-about h1{
   font-size: 55px;
   font-weight: 500;
   line-height: 60px;
   letter-spacing: 1.1px;
}

/* main */
.main-box{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 130px;
   align-items: center;
   flex-wrap: wrap;
}

.item{
   display: flex;
   flex-direction: row;
   gap: 74px;
   flex-wrap: wrap;
}

.item-options{
   display: flex;
   flex-direction: column;
   text-align: left;
   gap: 57px;
   padding: 117px 0;
}

.item-options h3{
   color: #998E78;
   font-size: 40px;
   font-weight: 500;
   line-height: 44px;
}

.item-options h1{
   font-size: 20px;
   font-weight: 500;
   line-height: 28px;
}

.color-button{
   width: 41px;
   height: 41px;
   background-color: white;
   border: 1px solid #000;

   font-size: 17px;
   font-weight: 500;
   line-height: 23.8px;
}

.color-item{
   display: flex;
   flex-direction: column;
   gap: 34px;
}

.circle{
   width: 41px;
   height: 41px;
   border: 0;
   border-radius: 100px;
}

.brown{
   background-color: rgba(146, 120, 118, 1);
}

.gray{
   background-color: rgba(212, 212, 212, 1);
}

.pink{
   background-color: rgba(253, 150, 150, 1);
}

.orange {
   background-color: rgba(253, 199, 150, 1);
}

.input{
   display: inline-flex;
   width: 68px;
   height: 65px;
   justify-content: center;
}

.button{
   border: 0;
   width: 243px;
   height: 70px;
   padding: 22px 65px;

   color: rgba(110, 156, 159, 1);
   background-color: #ffffff;
   border: 1px solid rgba(110, 156, 159, 1);
   cursor: pointer;

   transition: background-color 0.2s linear;
}

.like-item{
   gap: 67px;
   text-align: left;
   display: flex;
   flex-direction: column;
}

.like-item h1{
   font-size: 40px;
   font-weight: 500;
   line-height: 44px;
}

.product{
   display: flex;
   align-items: center;
   gap: 30px;
   /* flex-wrap: wrap; */
   justify-content: center;
}

.products-item{
   display: inline-flex;
   flex-direction: column;
   gap: 24px;
}

.photo{
   width: 367px;
   height: 551px;
}

.photo1{
   background: url('/images/main/new-collection/1.jpg') center;
   background-size: cover;
}

.photo2{
   background: url('/images/main/new-collection/2.jpg') center;
   background-size: cover;
}

.products-item h2{
   text-align: center;
   gap: 1px;
}

.products-item h2:last-child {
   color: #998E78;
   font-size: 15px;
   font-weight: 500;
   line-height: 21px;
}

.poduct-text{
   display: inline-flex;
   flex-direction: column;
   gap: 7px;
}

/* footer-main */
footer{
   padding: 70px 0;
   background-color: #F1EADC;
}

.footer-main p{
   font-size: 13px;
   font-weight: 400;
   line-height: 23px;
   text-align: left;
}

.footer-tel{
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: flex-end;
}

.cloth{
   display: inline-flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 10px;
}

.cloth a{
   font-size: 13px;
   font-weight: 400;
   line-height: 18px;
}

.social{
   display: inline-flex;
   flex-direction: column;
   gap: 30px;
   align-items: end;
   justify-content: center;
}

.social-link{
   display: inline-flex;
   flex-direction: row;
   gap: 12px;
}

/* === hover === */

.header-link a:hover{
   text-decoration: underline;
}

.cloth a:hover{
   text-decoration: underline;
}

.img-tel:hover{
   background: url('/images/header/telephone1.svg');
   background-color: #6E9C9F;
}

.color:hover{
   background: url('/images/main/new-collection/Vector2.svg') no-repeat center;
   background-color:  #6E9C9F;
}

.button:hover{
   color: white;
   background-color: #6E9C9F;
}

.color:hover{
   background: url('/images/main/new-collection/Vector2.svg') no-repeat center;
   background-color:  #6E9C9F;
}

.products-item a:hover{
   opacity: 0.4;
}

@media (max-width:1300px) {
   .header-link{
      gap: 10px;
      justify-content: center;
   }

   .footer-tel{
      align-items: flex-start;
   }

   .about-item{
      flex-wrap: wrap;
      justify-content: center;
   }
   .about-text{
      width: auto;
   }

   .cupon{
      justify-content: center;
      flex-wrap: wrap;
   }

   .result-ma{
      justify-content: center;
      flex-wrap: wrap;
   }
}

@media (max-width:800px) {
   .info-title{
      text-align: center;
      align-items: center
   }

   .quality-main{
      flex-wrap: wrap;
   }

   .about-item img{
      width: 300px;
   }
   
   .title-box{
      justify-content: center;
   }
   .first-box {
      margin-top: 35px;
   }

   .order{
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
      margin: 30px;
   }

   .product{
      flex-wrap: wrap;
   }

   .item-options{
      margin: 0 auto;
      padding: 0 0 20px 0;
   }

   .item img{
      margin: 0 auto;
   }

   .like-item h1{
      text-align: center;
      font-size: 35px;
   }
}

@media (max-width:650px) {
   .main-box{
   justify-content: center;
}
}

@media (max-width:500px) {
}

@media (max-width:375px) {   
   .container{
      padding: 0;
   }

   .container:first-child{
      padding: 0 50px;
   }

   .header-link{
      justify-content: flex-start;
      gap: 7px;
   }
}

